
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href = "project">Project</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:qing.wen@mail.utoronto.ca">email</a></li>
	        		<li><a href="https://qingwen-0310.github.io/">github.com/qingwen-0310</a></li>
				</ul>
			</footer>
		</body>

